<div class="sidebar-menu">
    <ul class="nav">
        <li> <a href="customizer.html" class="ajax-disable"><span class="glyphicons glyphicons-eyedropper"></span> <span class="sidebar-title">Customizer</span> <span class="sidebar-title-tray"> <span class="label label-xs bg-purple2">New</span> </span> </a> </li>
        <li> <a href="messages.html" class="ajax-disable"><span class="glyphicons glyphicons-inbox"></span><span class="sidebar-title">Messages</span></a> </li>
        <li class="active"> <a href="dashboard.html"><span class="glyphicons glyphicons-home"></span><span class="sidebar-title">Dashboard</span></a> </li>
        <li>
            <a class="accordion-toggle menu-open" href="#resources"><span class="glyphicons glyphicons-settings"></span><span class="sidebar-title">Resources</span><span class="caret"></span></a>
            <ul id="resources" class="nav sub-nav">
                <li><a class="ajax-disable" href="../documentation/index.html"><span class="glyphicons glyphicons-book"></span> Documentation </a></li>
                <li class="divider"></li>
                <li><a class="ajax-disable" href="login.html"><span class="glyphicons glyphicons-power"></span> Login Page</a></li>
                <li><a class="ajax-disable" href="screen-lock.html"><span class="glyphicons glyphicons-lock"></span> Screen Lock</a></li>
                <li><a class="ajax-disable" href="coming-soon.html"><span class="glyphicons glyphicons-road"></span> Coming Soon</a></li>
                <li><a class="ajax-disable" href="404-page.html"><span class="glyphicons glyphicons-circle_remove"></span> 404 Page</a></li>
                <li><a class="ajax-disable" href="500-page.html"><span class="glyphicons glyphicons-circle_exclamation_mark"></span> 500 Page</a></li>
            </ul>
        </li>
        <li>
            <a class="accordion-toggle" href="#sideOne"><span class="glyphicons glyphicons-adjust_alt"></span><span class="sidebar-title">UI Elements</span><span class="caret"></span></a>
            <ul id="sideOne" class="nav sub-nav">
                <li><a href="portlets.html"><span class="glyphicons glyphicons-sort"></span> Portlets</a></li>
                <li><a href="elements.html"><span class="glyphicons glyphicons-paperclip"></span> Elements</a></li>
                <li><a href="charts.html"><span class="glyphicons glyphicons-stats"></span> Charts</a></li>
                <li><a href="tabs.html"><span class="glyphicons glyphicons-adjust"></span> Tabs</a></li>
                <li><a href="buttons.html"><span class="glyphicons glyphicons-macbook"></span> Buttons</a></li>
                <li><a href="typography.html"><span class="glyphicons glyphicons-font"></span> Typography</a></li>
                <li><a href="grid.html"><span class="glyphicons glyphicons-show_big_thumbnails"></span> Grid</a></li>
            </ul>
        </li>
        <li>
            <a class="accordion-toggle" href="#sideTwo"><span class="glyphicons glyphicons-vcard"></span><span class="sidebar-title">Form Elements</span><span class="caret"></span></a>
            <ul id="sideTwo" class="nav sub-nav">
                <li><a href="forms.html"><span class="glyphicons glyphicons-link"></span> Form Elements</a></li>
                <li><a href="editors.html"><span class="glyphicons glyphicons-pencil"></span> Editors</a></li>
                <li><a href="editable.html"><span class="glyphicons glyphicons-edit"></span> Inline Editing</a></li>
                <li><a href="xedit.html"><span class="glyphicons glyphicons-check"></span> X-editable</a></li>
                <li><a href="tables.html"><span class="glyphicons glyphicons-table"></span> Tables</a></li>
                <li><a href="treeview.html"><span class="glyphicons glyphicons-tree_conifer"></span> Treeview</a></li>
            </ul>
        </li>
        <li>
            <a class="accordion-toggle" href="#sideSix"><span class="glyphicons glyphicons-globe"></span><span class="sidebar-title">Maps</span><span class="caret"></span></a>
            <ul id="sideSix" class="nav sub-nav">
                <li><a href="maps.html"><span class="glyphicons glyphicons-global"></span> GMaps</a></li>
                <li><a href="map-full.html"><span class="glyphicons glyphicons-globe_af"></span> Window Map</a></li>
                <li><a href="maps-vector.html"><span class="glyphicons glyphicons-vector_path_circle"></span> Vector Maps</a></li>
            </ul>
        </li>
        <li>
            <a class="accordion-toggle" href="#sideSeven"><span class="glyphicons glyphicons-book_open"></span><span class="sidebar-title">Pages</span><span class="caret"></span></a>
            <ul id="sideSeven" class="nav sub-nav">
                <li><a href="profile.html"><span class="glyphicons glyphicons glyphicons-user"></span> Profile</a></li>
                <li><a href="invoice.html"><span class="glyphicons glyphicons-print"></span> Printable Invoice</a></li>
                <li><a href="timeline.html"><span class="glyphicons glyphicons-film"></span> Timeline</a></li>
                <li><a href="gallery.html"><span class="glyphicons glyphicons-picture"></span> Gallery</a></li>
                <li><a href="calendar.html"><span class="glyphicons glyphicons-calendar"></span> Calendar</a></li>
                <li><a href="faq.html"><span class="glyphicons glyphicons-edit"></span> Faq Page</a></li>
                <li><a href="blank.html"><span class="glyphicons glyphicons-unchecked"></span> Blank Page</a></li>
            </ul>
        </li>
        <li>
            <a class="accordion-toggle" href="#sideFive"><span class="glyphicons glyphicons-magic"></span><span class="sidebar-title">Extras</span><span class="caret"></span></a>
            <ul id="sideFive" class="nav sub-nav">
                <li><a href="icons.html"><span class="glyphicons glyphicons-flash"></span> Icons</a></li>
                <li><a href="animations.html"><span class="glyphicons glyphicons-fire"></span> Animations</a></li>
                <li><a href="sliders.html"><span class="glyphicons glyphicons-retweet"></span> Sliders</a></li>
                <li><a href="image-tools.html"><span class="glyphicons glyphicons-camera"></span> Image Tools</a></li>
                <li><a href="sketchpad.html"><span class="glyphicons glyphicons-vector_path_square"></span> Sketchpad</a></li>
            </ul>
        </li>
        <li>
            <a class="accordion-toggle" href="#sideEight"><span class="glyphicons glyphicons-more_items"></span><span class="sidebar-title">Multi Level Nav</span><span class="caret"></span></a>
            <ul id="sideEight" class="nav sub-nav">
                <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #1</a></li>
                <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #2</a></li>
                <li>
                    <a class="accordion-toggle" href="#sideEight-sub"><span class="glyphicons glyphicons-show_lines"></span>2nd Level Nav<span class="caret"></span></a>
                    <ul id="sideEight-sub" class="nav sub-nav">
                        <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #1</a></li>
                        <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #2</a></li>
                        <li>
                            <a class="accordion-toggle" href="#sideEight-sub-2"><span class="glyphicons glyphicons-show_lines"></span>3rd Level Nav<span class="caret"></span></a>
                            <ul id="sideEight-sub-2" class="nav sub-nav">
                                <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #1</a></li>
                                <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #2</a></li>
                                <li>
                                    <a class="accordion-toggle" href="#sideEight-sub-2"><span class="glyphicons glyphicons-show_lines"></span>4th Level Nav<span class="caret"></span></a>
                                    <ul id="sideEight-sub-3" class="nav sub-nav">
                                        <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #1</a></li>
                                        <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #2</a></li>
                                        <li><a href="javascript:void(0);" class="ajax-disable"><span class="glyphicons glyphicons-ok_2"></span> Item #3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
